[submodule "vim/pack/interface/start/nord-vim"]
	path = vim/pack/interface/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/pack/csharp/start/omnisharp-vim"]
	path = vim/pack/csharp/start/omnisharp-vim
	url = git://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim/pack/interface/start/ale"]
	path = vim/pack/interface/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/interface/start/nerdtree"]
	path = vim/pack/interface/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/interface/start/VimCompletesMe"]
	path = vim/pack/interface/start/VimCompletesMe
	url = git://github.com/ajh17/VimCompletesMe.git
[submodule "zsh_custom/themes/powerlevel10k"]
	path = zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
