[submodule "vim/pack/interface/start/nord-vim"]
	path = vim/pack/interface/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
